#item_list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.item {
  display: flex;
  flex-direction: row;
  gap: 100px;
}

.item_display {
  width: 60%;
}

.item_text_left, .item_text_right {
  width: 40%;
}
.item_text_left {
  padding-left: 40px;
}

/* .item_text_right {
  padding-left: 20px;
} */