#browser-wrapper {
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 0;
    text-align: left;
    width: 0%;
    height: 85vh;
    overflow: hidden;
}

#browser {
    width: 103%;
    height: 100%;
    border: 0;
    
}

#flex-wrapper {
    display: flex;
    margin: auto;
    padding-top: 70px;
    width: 80%;
    justify-content: center;
}

#link-hub {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
    width: 450px;
    background-color: white;
}

#link-list {
    display: flex;
    flex-direction: column;
}   

#bar {
    width: 2px;
    background-color: rgb(201, 201, 201);
    border-radius: 10px;
}