/* Properties for a different appearance for index page */
body {
    background-color: var(--skin-bg-color); 
}

#browser-wrapper {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

#browser {
    /* display: flex; */
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

#link-hub {
    box-shadow: 4px;

     /* Rounded corners */
    /* border-top-right-radius: 20px;
    border-bottom-right-radius: 20px; */
    border-radius: 20px;

     /* Shadow */
     box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

#bar {
    display: none;
}

.settings-icon {
    opacity:30%;
    filter: brightness(1000%);
    transition: 0.15s ease;
}

.settings-icon:hover {
    width:20px; 
    opacity:40%;
}