#browser-wrapper {
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 0;
    text-align: left;
    width: 0%;
    height: 85vh;
    overflow: hidden;
    background: url(files/loading.gif) center center no-repeat;
}

#browser {
    width: 103%;
    height: 100%;
    border: 0;
    
}

#flex-wrapper {
    display: flex;
    margin: auto;
    padding-top: 70px;
    width: 100%;
    justify-content: center;
}

#link-hub {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
    background-color: white;
}

#link-list-desktop {
    display: flex;
    flex-direction: column;
}

#link-list-mobile {
    display: flex;
    flex-direction: column;
}

/* Small screen */
@media only screen and (max-width: 768px) {
    #link-list-desktop {
        display: none;
    }
    
    #link-hub {
        width: 90vw !important;
    }

    #browser-wrapper {
        display: none;
    }
  }


/* Large screen */
@media only screen and (min-width: 769px) {
    #link-list-mobile {
        display: none;
    }

    #link-hub {
        width: 386px;
    }
}

#bar {
    width: 2px;
    background-color: rgb(201, 201, 201);
    border-radius: 10px;
}




/* @media (prefers-color-scheme: dark) {
    #link-hub {
        background-color: rgb(32, 32, 32);
        color: wheat;
    }
    
    #flex-wrapper {
        background-color: rgb(32, 32, 32);
    }
    
    html {
        background-color: rgb(32, 32, 32);
    }

} */