video {

  display: block;
  margin: 0 auto;
  border-radius: 10px;
}

.link {
    background-color: white;
    border: none;
    color: black;
    padding: 8px 1px;
    text-align: left;
    font-size: 14px;
    margin: 1px 1px;
    transition: 0.3s;
    width: 143px;
}

.link:hover {
    background-color: #ddd;
    color: white;
    width: 100%;
}

body {
    background-color: white;
}


 /* unvisited link */
 a:link {
    font-weight: normal;
    color: rgb(83, 83, 83);
    transition: 0.15s;
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    font-weight: normal;
    color: rgb(83, 83, 83);
    transition: 0.15s;
    text-decoration: none;
  }
  
  /* mouse over link */
  a:hover {
    font-weight: normal;
    color: white;
    text-decoration: none;
  }
  
  /* selected link */
  a:active {
    font-weight: normal;
    text-decoration: none;
  } 