video {
  background-image: url(files/loading.gif);
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: center;

  display: block;
  margin: 0 auto;
  border-radius: 10px;
}

.link {
    background-color: white;
    border: none;
    color: rgb(83, 83, 83);
    padding: 8px 1px;
    text-align: left;
    font-size: 14px;
    margin: 1px 1px;
    transition: 0.3s;
    width: 143px;
}

.link:hover {
    background-color: #ddd;
    color: white;
    width: 100% !important;
    cursor: default;
}

.link:focus {
  transition: 0.3s;
  width: 100%;
  background-color:rgb(168, 168, 168);
  color: white;
}

.link-external {
  cursor: default;
  background-color: white;
  border: none;
  color: rgb(83, 83, 83);
  padding: 8px 1px;
  text-align: left;
  font-size: 14px;
  margin: 1px 1px;
  transition: 0.3s;
  width: 143px;
}

.link-external:hover {
  cursor: default;
  background-color: #ddd;
  color: black;
  width: 100%;
}

.link-external .tooltiptext {
  opacity: 0;
  width: 120px;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  transition: 0.2s;

  transform: translateX(-30px);
}

/* TODO */
/* .link-external:hover .tooltiptext {
  opacity: 100;
} */

body {
    background-color: white;
}


 /* unvisited link */
 a:link {
    font-weight: normal;
    color: rgb(83, 83, 83);
    transition: 0.15s;
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    font-weight: normal;
    color: rgb(83, 83, 83);
    transition: 0.15s;
    text-decoration: none;
  }
  
  /* mouse over link */
  a:hover {
    font-weight: normal;
    color: white;
    text-decoration: none;
  }
  
  /* selected link */
  a:active {
    font-weight: normal;
    text-decoration: none;
  }

  #headerimage {
    position : relative;
  }
  
  #headerimage:after {
    content  : "";
    position : absolute;
    z-index  : 1;
    bottom   : 0;
    left     : 0;
    pointer-events   : none;
    background-image : linear-gradient(to bottom, 
                      rgba(255,255,255, 0), 
                      rgba(255,255,255, 1) 90%);
    width    : 100%;
    height   : 4em;
  }

  #center {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    background-color: white;
  }