#wrapper {
    margin: auto;
    width: 50%;
}

.post-date {
    font-style: italic;
}

#center {
    font-family: Arial, Helvetica, sans-serif;
    padding: 70px 0;
    text-align: left;
    margin: auto;
    width: 35%;
    background-color: white;
  }
